
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row__cart">
        <h1 class="cart__title">GIỎ HÀNG</h1>
        <div class="cart__table">
            <div class="cart__listItem">
                <div class="cart__list">
                    <div class="cart__img">
                        <img src="/theme/assets/iphone13_1.jpg" alt="">
                    </div>
                    <div class="cart__info">
                        <div class="item__info">
                            <p class="item__info-name">Iphone 13</p>
                            <p class="item__info-option">Hồng/128GB/6GB</p>
                        </div>
                        <div class="item__quan">
                            <input type="text" value="1">
                        </div>
                        <p class="item__delete">Xoá</p>
                        <div class="item__price">420.000đ</div>
                    </div>
                </div>
                <div class="cart__list">
                    <div class="cart__img">
                        <img src="/theme/assets/iphone13_1.jpg" alt="">
                    </div>
                    <div class="cart__info">
                        <div class="item__info">
                            <p class="item__info-name">Iphone 13</p>
                            <p class="item__info-option">Hồng/128GB/6GB</p>
                        </div>
                        <div class="item__quan">
                            <input type="text" value="1">
                        </div>
                        <p class="item__delete">Xoá</p>
                        <div class="item__price">420.000đ</div>
                    </div>
                </div>
                <div class="cart__list">
                    <div class="cart__img">
                        <img src="/theme/assets/iphone13_1.jpg" alt="">
                    </div>
                    <div class="cart__info">
                        <div class="item__info">
                            <p class="item__info-name">Iphone 13</p>
                            <p class="item__info-option">Hồng/128GB/6GB</p>
                        </div>
                        <div class="item__quan">
                            <input type="text" value="1">
                        </div>
                        <p class="item__delete">Xoá</p>
                        <div class="item__price">420.000đ</div>
                    </div>
                </div>
            </div>
            <div class="cart__payment">
                <p class="payment__title">THÔNG TIN ĐƠN HÀNG</p>
                <p class="payment__desc">Tổng tiền : 42.000.000đ</p>
                <a href="./payment.html"><button class="cart__btn">THANH TOÁN</button></a>
            </div>
        </div>
        <div class="cart-btn">
            <a href="./product.html"><button class="cart-btn__continue">TIẾP TỤC MUA HÀNG</button></a>
            <button class="cart-btn__update">CẬP NHẬT GIỎ HÀNG</button>
        </div>

        <p class="cart__policy-title">Chính sách Đổi/Trả</p>
        <ul class="cart__policy">
            <li>Sản phẩm được đổi 1 lần duy nhất, không hỗ trợ trả.</li>
            <li>Sản phẩm còn đủ tem mác, chưa qua sử dụng.</li>
            <li>Sản phẩm nguyên giá được đổi trong 30 ngày trên toàn hệ thống.</li>
            <li>Sản phẩm sale chỉ hỗ trợ đổi (nếu cửa hàng còn) trong 7 ngày trên toàn hệ thống.</li>
        </ul>
    </div>
</div>
